@media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {

    .img-box .retina {
        display: inline-block;
    }

    .img-box .lcd {
        display: none;
    }

    .ico-build {
        background: url("../img/ico/ico-build@2x.png") no-repeat center;
        background-size: 70px 70px;
    }

}